body {
    background-color: dodgerblue ;
}

.side-bar {
    float: left ;
    border-style: 1px solid rgba(0, 0, 0, 0.125) ;
    width: 20% ;
    height: 100% ;
}

.timeline {
    float: left ;
    border-style: 1px solid rgba(0, 0, 0, 0.125) ;
    width: 70% ;
    height: 100% ;
    margin-top: 83px ;
}

.left {
    margin-right: 1% ;
    margin-left: 4% ;
}

.user {
    margin-top: 83px ;
    margin-bottom: 2% ;
}

.pro {
    margin-top: -80px ;
    border-radius: 100% ;
    margin-left: auto ;
    margin-right: auto ;
    width: 160px ;
    height: 160px ;
}

.post {
    background-color: whitesmoke ;
    padding: 1% ;
    border-bottom: 3px solid dodgerblue;
}

.post img {
    height:64px ;
    width:64px ;
    border-radius: 100% ;
}